* {
  font-family: 'Poppins', sans-serif;
}

#KlaraIngersoll {
  color: rgb(0,0,0);
  font-size: 3em;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;


}

.PageTitles {
  color: rgb(0,0,0);
  font-weight: 400;
  font-size: 1.75em;
  text-align: center;
  padding-bottom: 2%;
}

h1 {
  font-weight: 100;
  font-size: 1em;
}

.HeaderText {
  color: rgb(0,0,0);
  font-weight: 150;
  font-size: 1em;
}

#SelectedPage {
  color: rgb(238,192,69);
}

#VisualArtMenu {
  width: 100%;
  border: 0px;
  padding: 30px;
}

#VisualArtMenu tr td img {
  width: 100%;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#VisualArtMenu tr td {
  padding: 30px;
}

#MenuBar {
  border-bottom: 1px solid black;
  padding: 0px;
  padding-bottom: 10px;

}

#MenuBar tr td {
  padding: 0px;
}

.PhotoDisplay {
  text-align: center;
  padding: 25px;

}

/** {
  outline: 1px dotted blue;
}*/

a {
  color: black;
  text-decoration: none; /* no underline */
}

/* mouse over link */
a:hover {
  color: rgb(238,192,69);
}

/* selected link */
a:active {
    color: black;

    /**/Make it so that when you're on a page, the link is different color
}
